*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  .container{
    height: 400px;
    background-color: yellow;
  }

  .cont1{
    height: 100px;
    background-color: red;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;       
  } 

  .boxg{
    background-color: lightgreen;    
    flex-basis: 20%;      
  }

  .boxb{
    background-color: blue;    
    flex-basis: 40%;   
  }

  .boxn{
    background-color: black;    
    flex-basis: 20%;  
  }

  .cont2{
    height: 300px;
    background-color: blueviolet;
    width: 60%;
    margin: auto;
  }

  .title{
    text-align: center;
    background-color: aqua;
    padding: 30px;
  }

  .text{
    text-align: center;
    background-color: darkgray;
    padding: 20px;
  }

  .but{
    text-align: center;
    background-color: darkolivegreen;
    padding: 20px;
  }

  .cont3{
    height: 300px;    
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }

  .bcolor1{
    background-color: lightpink;
  }

  .bcolor2{
    background-color: gray;
  }

  .bcolor3{    
    background-color: black;
    flex-basis: 40%;
  }

  .bcolor4{
    background-color: darkgreen;
    flex-basis: 40%;
  }

  .ord1{
    order: -1;
  }